*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}
ul, li, ul{
    list-style: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
.__container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*---------------HEADER-----------------*/
.header{
    padding: 20px 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.header__menu{
    display: flex;
    gap: 21px;
    align-items: center;
}

.header__link{
    display: block;
    font-size: 12px;
    line-height: 192%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
}
.header__link:hover{
    color: #F55F39;
}


.header__logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 98px;

    background-color: #F55F39;
    padding: 15px 48px;
}
.header__logo-img{
    margin: 0 auto;
    display: block;
}


.search__icon{
    display: none;
}

form.header__search{
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.header__search input{
    padding: 10px 56px;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 150%;

    background: url(icon/header/search.png) no-repeat 5% center;
    
}
.header__search input::placeholder{
    padding: 10px 0;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(224, 224, 224, 1);
}
.header__btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    background: #B8BDC9;
    padding: 10px 44px;

    cursor: pointer;
}


    /*-------------------------*/
    .header__nav>input.header__menu,
    .header__nav>label.header__menu{
        display: none;
    }
    label.header__menu{
        font-size: 16px;
        color: #222222;
        position: relative;
        cursor: pointer;
        height: 100%;
        padding-left: 23px;
        z-index: 20;

        background: url("icon/header/burg-open.png") no-repeat left;
        background-size: 24%;
    }

    /*.header__nav>span{
        position: relative;
        width: 25px;
        height: 2px;
        background-color: #222222;
        display: none;
    }
    .header__nav>span::before{
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #222222;
    }
    .header__nav>span::after{
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #222222;
    }*/
    /*-------------------------*/

@media (max-width: 1150px){
    ul.header__menu{
        position: absolute;
        background: white;
        flex-direction: column;
        width: 25%;
        height: 100vh;
        left: -100%;
        justify-content: center;
        gap: 40px;
        transition: all 0.8s;
    }
    .header__nav>span{
        display: inline-block;
    }

    .header__nav>span{
        display: inline-block;
        position: relative;
    }
    .header__nav>label.header__menu{
        display: inline-block;
    }
    input.header__menu:checked ~ ul.header__menu{
        display: flex;
        left: 0;
        transition: all 0.8s;
    }
    a.header__link{
        font-size: 16px;
    }
}

@media (max-width: 1024px){
    .header__logo {
        left: 25%;
        transform: translateX(-25%);
    }
}
@media (max-width: 986px){
    ul.header__menu {
        width: 37%;
    }
}
@media (max-width: 768px){
    ul.header__menu {
        width: 100%;
        top: 0;
    }
    .header__logo {
        left: 50%;
        transform: translateX(-50%);
    }
    .header__search{
        display: none;
    }
    .search__icon{
        display: block;
        background: url("icon/header/search.png") no-repeat center;
        background-size: cover;
        width: 25px;
        height: 21px;
    }
}
@media (max-width: 768px){
    .header__logo{
        padding: 0;
        height: auto;
    }
}
/*---------------HEADER-----------------*/

















/*---------------MAIN-----------------*/
.main{
    min-height: 100vh;
    background: url("img/main/main-img.jpg") no-repeat center;
    background-size: cover;
}

.main__about{
    padding-top: 163px;
    padding-bottom: 177px;
    text-align: left;
    max-width: 576px;
}
h1.main__title{
    font-size: 49px;
    line-height: 133%;
    color: #444444;

    margin-bottom: 4px;
}
h1.main__title>a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 133%;
    color: #2BCA8B;
    text-decoration: underline;
}
p.main__text{
    font-size: 19px;
    line-height: 195%;
    color: #444444;

    margin-bottom: 85px;
}



.button{
    padding: 8px 25px 8px 30px;
    display: inline-block;
    color: #FFFFFF;
}
.button__title{
    font-size: 23px;
    line-height: 100%;

    margin-bottom: 8px;
}
.button__text{
    font-size: 14px;
    line-height: 164%;
    text-transform: capitalize;
}



.main__btn{
    margin-right: 15px;
    background: #F55F39;
    transition: 0.7s;
}
.main__btn:hover{
    background: #FFFFFF;
    color: #4D4D4D;
    transition: 0.7s;
}
/*---------------MAIN-----------------*/