*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}
ul, li, ul{
    list-style: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
.__container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*---------------HEADER-----------------*/
.header{
    padding: 20px 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.header__menu{
    display: flex;
    gap: 21px;
    align-items: center;
}

.header__link{
    display: block;
    font-size: 12px;
    line-height: 192%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
}
.header__link:hover{
    color: #F55F39;
}


.header__logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 98px;

    background-color: #F55F39;
    padding: 15px 48px;
}
.header__logo-img{
    margin: 0 auto;
    display: block;
}


.search__icon{
    display: none;
}

form.header__search{
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.header__search input{
    padding: 10px 56px;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 150%;

    background: url(icon/header/search.png) no-repeat 5% center;
    
}
.header__search input::placeholder{
    padding: 10px 0;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(224, 224, 224, 1);
}
.header__btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    background: #B8BDC9;
    padding: 10px 44px;

    cursor: pointer;
}


    /*-------------------------*/
    .header__nav>input.header__menu,
    .header__nav>label.header__menu{
        display: none;
    }
    label.header__menu{
        font-size: 16px;
        color: #222222;
        position: relative;
        cursor: pointer;
        height: 100%;
        padding-left: 23px;
        z-index: 20;

        background: url("icon/header/burg-open.png") no-repeat left;
        background-size: 24%;
    }

    /*.header__nav>span{
        position: relative;
        width: 25px;
        height: 2px;
        background-color: #222222;
        display: none;
    }
    .header__nav>span::before{
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #222222;
    }
    .header__nav>span::after{
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #222222;
    }*/
    /*-------------------------*/

@media (max-width: 1150px){
    ul.header__menu{
        position: absolute;
        background: white;
        flex-direction: column;
        width: 25%;
        height: 100vh;
        left: -100%;
        justify-content: center;
        gap: 40px;
        transition: all 0.8s;
    }
    .header__nav>span{
        display: inline-block;
    }

    .header__nav>span{
        display: inline-block;
        position: relative;
    }
    .header__nav>label.header__menu{
        display: inline-block;
    }
    input.header__menu:checked ~ ul.header__menu{
        display: flex;
        left: 0;
        transition: all 0.8s;
    }
    a.header__link{
        font-size: 16px;
    }
}

@media (max-width: 1024px){
    .header__logo {
        left: 25%;
        transform: translateX(-25%);
    }
}
@media (max-width: 986px){
    ul.header__menu {
        width: 37%;
    }
}
@media (max-width: 768px){
    ul.header__menu {
        width: 100%;
        top: 0;
    }
    .header__logo {
        left: 50%;
        transform: translateX(-50%);
    }
    .header__search{
        display: none;
    }
    .search__icon{
        display: block;
        background: url("icon/header/search.png") no-repeat center;
        background-size: cover;
        width: 25px;
        height: 21px;
    }
}
@media (max-width: 768px){
    .header__logo{
        padding: 0;
        height: auto;
    }
}


/*---------------HEADER-----------------*/



/*---------------MAIN-----------------*/
.main{
    min-height: 100vh;
    background: url("img/main/main-img.jpg") no-repeat center;
    background-size: cover;
}

.main__about{
    padding-top: 163px;
    padding-bottom: 177px;
    text-align: left;
    max-width: 576px;
}
h1.main__title{
    font-size: 49px;
    line-height: 133%;
    color: #444444;

    margin-bottom: 4px;
}
h1.main__title>a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 133%;
    color: #2BCA8B;
    text-decoration: underline;
}
p.main__text{
    font-size: 19px;
    line-height: 195%;
    color: #444444;

    margin-bottom: 85px;
}



.button{
    padding: 8px 25px 8px 30px;
    display: inline-block;
    color: #FFFFFF;
}
.button__title{
    font-size: 23px;
    line-height: 100%;

    margin-bottom: 8px;
}
.button__text{
    font-size: 14px;
    line-height: 164%;
    text-transform: capitalize;
}



.main__btn{
    margin-right: 15px;
    background: #F55F39;
    transition: 0.7s;
}
.main__btn:hover{
    background: #FFFFFF;
    color: #4D4D4D;
    transition: 0.7s;
}



/*-----------------------------*/
@media (max-width: 1024px){
    .main{
        background-position: right;
    }
}
@media (max-width: 900px){
    p.main__text {
        color: #fc3e3e;
    }
}
@media (max-width: 600px){
    .main{
        background-position: 80% center;
    }
}
@media (max-width: 520px){
    .main__about{
        padding-top: 110px;
        padding-bottom: 110px;
    }
    h1.main__title,
    h1.main__title>a{
        font-size: 36px;
    }
    p.main__text{
        font-size: 16px;

        margin-bottom: 50px;
    }
    .main__btn{
        display: block;
        text-align: center;

        margin-bottom: 30px;
    }
    .main__btn:last-child{
        margin-bottom: 0;
    }
    .main{
        background-position: 84% center;
    }
}
/*-----------------------------*/

/*---------------MAIN-----------------*/


/*---------------WRITERS-----------------*/
.writers{
    margin-top: -80px;
    margin-bottom: 48px;
}
.writers__wrap{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.writers__help{
    padding: 130px 20px 58px 210px;
    display: flex;
    gap: 60px;
}

h2.help__title{
    font-size: 28px;
    line-height: 139%;
    color: #2BCA8B;

    max-width: 125px;
}

a.help__link{
    display: block;
    margin-bottom: 8px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 164%;
    color: #252061;
}
a.help__link:last-child{
    margin-bottom: 0;
}
a.help__link:hover{
    text-decoration: underline;
    color: #2e21bd;
}


.writers__team{
    padding: 37px 55px;

    background: url("img/writers/bg.png") no-repeat center, #252061;
    background-size: cover;
    box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.4);
    
    flex: 0 1 43%;
}
h4.team__title{
    font-size: 24px;
    line-height: 96%;
    color: #FFFFFF;

    margin-bottom: 26px;
}
p.team__text{
    font-size: 14px;
    line-height: 164%;
    color: #FFFFFF;

    margin-bottom: 19px;
    max-width: 306px;
}


.team__members{
    position: relative;
}
img.team__members_img{
    filter: drop-shadow(7px 7px 40px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}
img.team__members_img:first-child{
    margin-right: 40px;
}
img.team__members_img:nth-child(2){
    position: absolute;
    top: 12px;
    left: 55px;
    z-index: 2;
}
a.team__team_btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 153%;
    color: #FFFFFF;

    background: #2BCA8B;
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
    padding: 12px 15px;

    transform: translate(-16px, 11px);
    display: inline-block;
    transition: 0.6s;
}
a.team__team_btn:hover{
    color: #2BCA8B;
    background: #FFFFFF;
    transition: 0.6s;
}

/*---------------------*/
@media (max-width: 1150px){
    .writers__help {
        padding: 130px 20px 58px 140px;
    }
    .writers__team {
        padding: 37px 40px;
    }
}
@media (max-width: 986px){
    .writers__help {
        padding: 130px 20px 58px 20px;
    }
    .writers__wrap{
        gap: 30px;
    }
    .writers__team {
        flex: 0 1 48%;
        min-width: 435px;
        max-height: 300px;
    }
    p.team__text{
        max-width: 100%;
        margin-bottom: 24px;
    }
}
@media (max-width: 886px){
    .writers__help{
        flex-direction: column;
        padding: 37px 15px;
        gap: 30px;
    }
    h2.help__title{
        max-width: 100%;
    }
}
@media (max-width: 750px){
    .writers{
        margin-top: 0;
    }
    .writers__wrap{
        flex-direction: column-reverse;
    }
    .writers__help{
        padding: 15px;
    }
    .writers__team{
        padding: 25px 15px;
    }
}
@media (max-width: 320px){
    h2.help__title {
        font-size: 26px;
    }
    .writers__team{
        min-width: 100%;
        max-height: 100%;
    }
    .team__members{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    img.team__members_img:first-child{
        margin-right: 0;
    }
    img.team__members_img:nth-child(2){
        position: unset;
    }
    a.team__team_btn{
        flex: 0 1 100%;
        transform: translate(0px, 11px);
        text-align: center;
    }
}
/*---------------WRITERS-----------------*/

h2.title{
    font-size: 52px;
    line-height: 94%;
    color: #444444;
}

/*---------------WRITERS-----------------*/
.blog{
    margin-bottom: 100px;
}
.blog__title{
    margin-bottom: 73px;
}
.blog__title>span{
    font-size: 52px;
    line-height: 83%;
    color: #F55F39;
    
    position: relative;
}
.blog__title>span::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #F55F39;
}


.blog__items{
    display: flex;
    gap: 30px;
}
figure.blog__left{
    flex: 0 1 534px;

    position: relative;
}
figure.blog__left > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

figcaption.blog__left_capture{
    padding: 28px 50px 28px 0;
    background: #FFFFFF;

    max-width: 427px;

    position: absolute;
    bottom: 0;
    left: 0;
}
h3.capture__title{
    font-size: 30px;
    line-height: 127%;
    color: #252061;

    margin-bottom: 13px;
}
p.capture__text{
    font-size: 14px;
    line-height: 164%;
    color: #969696;

    margin-bottom: 15px;
}
.capture__autor{
    display: flex;
    gap: 10px;
}
.capture__autor-name{
    font-size: 15px;
    line-height: 153%;
    color: #252061;

    margin-bottom: 1px;
}
.capture__autor-date{
    font-size: 13px;
    line-height: 177%;
    color: #252061;
}


.blog__items_right{
    display: flex;
    flex-direction: column;
    gap: 30px;

    flex: 0 1 376px;
}
.right__block_img > img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
figure.right__block_figure{
    position: relative;
}
figure.right__block_figure > img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
figcaption.right__block{
    padding: 20px 79px 1px 0px;

    position: absolute;
    bottom: 0px;
    left: 0;
    background: #FFF;
    max-width: 300px;
}
p.right__block-date{
    font-size: 12px;
    line-height: 150%;
    color: #929292;

    margin-bottom: 4px;
}
p.right__block-text{
    font-size: 18px;
    line-height: 128%;
    color: #252061;
}
.right__block_visit{
    background: url("img/blog/bg.png") no-repeat center, #252061;
    background-size: cover;

    padding: 45px 108px 40px 60px;
}
h4.block__visit-title{
    font-size: 28px;
    line-height: 107%;
    color: #FFFFFF;

    margin-bottom: 26px;
}
p.block__visit-text{
    font-size: 14px;
    line-height: 164%;
    color: #FFFFFF;

    margin-bottom: 19px;
}
a.block__visit-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 164%;
    text-transform: capitalize;
    color: #F55F39;
}


/*---------------------*/

@media (max-width: 968px){
    .blog__title{
        width: 70%;
    }
    .right__block_visit{
        padding: 45px 40px;
    }
}
@media (max-width: 786px){
    .blog__title{
        width: 100%;
    }
    figcaption.blog__left_capture{
        position: unset;
        max-width: 100%;
        padding: 28px 15px 28px 0;
    }
    figcaption.right__block{
        position: unset;
        max-width: 100%;
        padding: 20px 0px 0px 0px;
    }
}

@media (max-width: 700px){
    .right__block_visit {
        padding: 45px 20px;
    }
}
@media (max-width: 600px){
    .blog__items{
        flex-direction: column;
    }
    h2.blog__title,
    h2.blog__title > span {
        font-size: 30px;
        line-height: 103%;
    }
    h2.blog__title{
        margin-bottom: 55px;
    }
}
/*---------------WRITERS-----------------*/


/*---------------INVITE-----------------*/
.invite__wrap{
    max-width: 1130px;
    padding: 0 15px;
    filter: drop-shadow(14px 14px 80px rgba(0, 0, 0, 0.4));
    margin: 0 auto;

    position: relative;
}
.invite__wrap > img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.invite__capture{
    padding: 49px 50px 59px 50px;
    background: #352F77;
    max-width: 50%;
    height: auto;

    position: absolute;
    bottom: 0;
    left: 15px;
}
.invite__title{
    font-size: 44px;
    line-height: 136%;
    color: #FFFFFF;

    margin-bottom: 22px;
}
.invite__text{
    font-size: 15px;
    line-height: 153%;
    color: #FFFFFF;

    margin-bottom: 55px;
}
.invite__btn{
    display: inline-block;
    padding: 9px 30px 4px 80px;
    background: url("icon/invite/arrow.png") no-repeat left 7% center,#2BCA8B;
    max-width: 355px;
}
.invite__btn:hover{
    opacity: 0.9;
    background-position: left 9% center;
}

.invite__btn_title{
    font-size: 23px;
    line-height: 100%;
    color: #FFFFFF;
    display: inline-block;

    margin-bottom: 9px;
}
.invite__btn_subtitle{
    font-size: 14px;
    line-height: 164%;
    text-transform: capitalize;
    color: #FFFFFF;
    display: inline-block;
}


/*----------------*/
@media (max-width: 1200px){
    .invite__capture{
        opacity: 0.9;
    }
}
@media (max-width: 967.95px){
    .invite__capture{
        opacity: 1;
        position: unset;
        max-width: 100%;
    }
}
@media (max-width: 600px){
    .invite__title{
        font-size: 28px;
    }
    .invite__capture{
        padding: 49px 15px 59px 15px;

    }
}
@media (max-width: 450px){
    .invite__btn{
        padding: 9px 4px 4px 80px;
    }
}
@media (max-width: 400px){
    .invite__btn{
        padding: 9px 4px 4px 53px;
        background-position: left 4% center;
    }
    .invite__btn_title{
        font-size: 20px;
    }
    .invite__btn_subtitle{
        font-size: 10px;
    }
}
/*---------------INVITE-----------------*/